.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: teal;
  height: 150px;
  padding: 20px;
  color: #F1EDE4;
  text-align: left;
  font-size: 50px;
}

.App-header ul {
  list-style: none;
}

.App-header li {
  font-size: small;
  display: inline;
  color: silver;
}

.App-intro {
  font-size: large;
}

.App-article {
  background-color: #E5EAF0;
  border: 6px solid #161415;
}

p.App-article {
  margin-top: 0px;
  margin-bottom: 0px;
}

p.App-buffer {
  margin: 0px;
}

img {
  height: 100px;
  width: 100%;
}

section, p {
  display: flex;
  margin: 0px;

}

.App-aside1, .App-aside2 {
  align-content: left;
}

.App-aside1 {
  border: 2px solid #161415;
  font-size: 20px;
  background-color: #606B71;
  color: white;
}

.App-footer {
  display: flex;
  background-color: teal;
  height: 150px;
  padding: 20px;
}
